body {
    margin: 0;
    font-family: "Smythe", system-ui;
} 

.header{
    width:600px;
    margin: 0 auto 0 auto;
    height:180px;
    background-image: url("/hamburger.jfif");
    background-repeat: no-repeat;
    background-size:100% 180%;
    background-position-y: -100px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    color: white;
}

.header-title{
    font-weight: 400;
    font-style: normal;
    font-size: 39px;
    margin: 0;
}

.header-subtitle{
    font-weight: 400;
    font-style: normal;
    font-size:22px;
    margin-top:19px
}

main{
    width: 508px;
    padding: 70px 0px;
    /* height: 3000px; */
    margin: 0 auto 0 auto;
    /* background-color: pink; */
}

li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:45px;
    border-bottom: 1px solid #D2D2D2;
}

.spacing-menu{
    padding-bottom:50px;
}

.menu-item-container{
    display: flex;
    gap:30px;
}


ul{
    margin:0px;
    padding:0;
}

i{
    user-select: none;
    font-style: normal;
    font-size: 70px;
}

span{
    font-weight: 500;
    margin:0;
}

.title-span{
    font-size: 28px;
}

.price-span{
    font-size:20px;
}

.ingredient-list{
    color: #8B8B8B;
    font-size: 16px;
    margin-top: 9px 0 9px 0;
}

.add-btn{
    font-family: "Inter", sans-serif;
    font-size:32px;
    font-weight: 200;
    color: #3C3C3C;
    border-radius: 50%;
    border:1.5px solid #DEDEDE; 
    margin:0;
    padding: 5.5715px 14.6965px 8.3px ;

    cursor:pointer;
    background-color: white;
    /* text-align: center; */
}

.add-btn:hover{
    background-color: #DEDEDE;
}

footer{
    width:508px;
    margin:0 auto 0 auto;
    text-align: center;
}

.hidden{
    display: none;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #BBBBBB;
    border: none;
    background: none;
    padding-top:5px;
    margin-left: 13px;
}

.remove-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

.order-items-container{
    border-bottom: 2px solid #393333;
    padding-bottom: 9px;
    margin-bottom: 14px;
}

.order-items-container li{
    border-bottom: none;
    margin-bottom: 22px;;
}

#complete-order-btn{
    background-color: #16DB99;
    color:white;
    font-size:16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:700;
    width: 100%;
    padding: 20px 0;
    margin:53px 0;
    border-radius: 3px;
    border:none;
}

#complete-order-btn:hover{
    cursor:pointer;
    background-color: #14b680;
}

.modal{
    width:524px;
    height: fit-content;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 256px black;
    border-radius:4px;
    border:1.3px solid #757575;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* display: none; */
    padding: 47px 24px 30px;
}

.modal-title{
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 46px;
}

.modal input{
    width:100%;
    font-size:20px;
    height:71px;
    padding: 0 26px;
    color: #757575;
    border-radius:4px;
    border:1.3px solid #757575;
    margin-bottom: 23px;
}

.modal #complete-order-btn{
    margin: 23px 0 0;
}
